<footer id="footer" class="xs-footer-section xs-fixed-footer fundpress-footer-section" style="visibility: visible;">
   
    <div class="row" style="height: 100px; text-align: center;">
        <div class="container">
            <div class="col-12">
                   <p>Powered by <img style="height: 50px; width: 50px;"  src="https://s3-us-west-2.amazonaws.com/vividcoding.com/images/VividCoding.png" />
                         <a href="https://VividCoding.com/">VividCoding.com</a></p>
                <div class="xs-back-to-top-wraper">
                    <a href="#" class="xs-back-to-top full-round green-btn xs-back-to-top-btn show-last-pos">
                        <i class="fa fa-angle-up"></i>
                    </a>
                </div><!-- .xs-back-to-top-wraper END -->
            </div>
        </div>
    </div><!-- .xs-footer-bottom-layer .fundpress-footer-bottom END -->
    </footer>

