// all var list
@import'variable';

// xs button
.xs-btn {
	display: inline-block;
	backface-visibility: hidden;
	@extend .transition;
	@include position(relative);
	@extend .z-index-1;
	line-height: 1;
	text-transform: uppercase;
	font-weight: 600;
	font-size: em(12px);
	letter-spacing: 1px;
	overflow: hidden;
	// border: 1px solid currentColor;
	white-space: nowrap;
	color: $color-white;
	box-shadow: $primary-shadow;
	padding: 16px 36px;
	color: $color-white;
	border: 0px solid transparent;
	@extend .transition;
	&.green-btn {
		@include background-color($color-green);
	}
	&.blue-btn {
		@include background-color($color-sky-blue);
	}
	&.navy-blue-btn {
		@include background-color($color-navy-blue);
	}
	&.round-btn {
		border-radius: 40px 40px 40px 40px / 40px 40px 40px 40px;
	}
	&.icon-btn {
		padding: 17px 47px;
		i {
			margin: 0 11px 0 0;
		}
	}
	&:hover {
		color: $color-white;
		background-color: $color-green;
	}
	&.xs-btn-thin {
		padding: 14px 35px;
		font-size: em(12px);
	}
	&.xs-btn-medium {
		padding: 17px 28px;
		font-size: em(18px);
	}
	&.radius-btn {
		@include border-radius(4px);
	}
	&.btn-lg {
		padding: 13px 32px;
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
	}
}

.xs-btn {
	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		@extend .transition;
		z-index: -1;
	}
	&:after {
		left: -50px;
		border-left: 0px solid transparent;
		border-top: 100px solid $color-green;
		transform: translateX(101%);
	}
	&:before {
		right: -50px;
		border-right: 00px solid transparent;
		border-bottom: 100px solid $color-green;
		transform: translateX(-101%);
	}
	&:hover:before {
		transform: translateX(-48%);
	}
	&:hover:after {
		transform: translateX(48%);
	}
}
// hover effect for green btn
.xs-btn {
	&.green-btn {
		&:before {
			border-bottom: 100px solid $color-green-light;
		}
		&:after {
			border-top: 100px solid $color-green-light;
		}
		&:hover:before {
			transform: translateX(-48%);
		}
		&:hover:after {
			transform: translateX(48%);
		}
	}
}

.blue-btn {
	background-color: $color-blue-2;
	&.opacity-btn {
		background-color: rgba($color-blue-2, .5);
	}
}
// xs btn wrapper margin
.xs-btn-wraper {
	a {
		margin: 0 20px 0 0;
		&:last-child {
			margin: 0;
		}
	}
}
// icon btn with
.icon-identify-btn {
	@include equal-size(42px);
	@include flex-position(flex, center, center);
	position: relative;
	@extend .z-index-1;
	@extend .transition;
	color: $color-white;
	font-size: em(14px);
	&:hover {
		color: $color-white;
	}
	&.big-btn {
		@include equal-size(58px);
		font-size: em(18px);
	}
	&.xs-very-big-button {
		@include equal-size(70px);
		font-size: em(20px);
		&.xs-border-btn {
			border-width: 2px;
		}
	}
}

.fundpress-tab-nav-v5 {
	.nav {
		justify-content: center;
		border-color: #F1F1F1;
	}
	a.nav-link {
		border: 0;
		border-radius: 0;
		padding: 0;
		padding-bottom: 10px;
		position: relative;
		color: #D1D1D1;
		font-weight: 600;
		font-size: em(18px);
		@extend .transition;
		&:hover:before ,
		&.active:before {
			width: calc(100% + 18px);
		}
		&:hover ,
		&:hover:before ,
		&.active:before,
		&.active {
			color: $color-navy-blue;
		}
		&:before {
			position: absolute;
			content: "";
			bottom: -1px;
			left: 50%;
			height: 2px;
			width: 0;
			transform: translateX(-50%);
			background-color: $color-navy-blue;
			@extend .transition;
		}
	}
	.nav-item {
		margin-bottom: 0;
		margin-right: 35px;
		&:last-child {
			margin-right: 0;
		}
	}
}

// xs input group addons
.xs-input-group-v2 {
	@extend .xs-input-group-addon;
	@extend .xs-mb-20;
	height: 59px;
	i {
		@extend .xs-input-addon;
	}
	.xs-input-control {
		border: 0;
		background-color: #FAFAFC;
		padding: 0 20px;
	}
	i {
		font-size: em(18px);
		color: $color-navy-blue;
		padding: 0 20px;
	}
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: $color-navy-blue;
		font-style: italic;
	}
	::-moz-placeholder { /* Firefox 19+ */
		color: $color-navy-blue;
		font-style: italic;
	}
	:-ms-input-placeholder { /* IE 10+ */
		color: $color-navy-blue;
		font-style: italic;
	}
	:-moz-placeholder { /* Firefox 18- */
		color: $color-navy-blue;
		font-style: italic;
	}
}
.xs-submit-wraper {
	text-align: center;
	.btn {
		cursor: pointer;
		border-radius: 0;
		font-size: em(12px);
		font-weight: 700;
		text-transform: uppercase;
		color: $color-white;
		padding: 20px;
		border: 0;
		letter-spacing: .6px;
	}
}

.btn-warning {
	background-color: #4CC899;
}
.btn-info {
	background-color: #3E5A97;
}
.btn-success {
	background-color: #5EAEEC;
}

.xs-modal {
	.tab-content {
		p {
			color: #C1C1C1;
			text-align: center;
			font-size: em(12px);
			font-weight: 700;
		}
	}
}



// bootstrap modal
.xs-modal ~ {
	.modal-backdrop {
		position: fixed;
		background-color: transparent;
		z-index: 9999;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			background-color: rgba(0,0,0,.87);
			width: 100%;
			height: 0;
			padding-bottom: 100%;
			border-radius: 100%;
			transform: scale(0.04) translateY(9999px);
			overflow: hidden;
			animation: menu-animation 1.2s ease-out forwards;
		}
		&.show {
			animation: menu-animation 1.2s ease-out forwards;
			transform: scale(2) translateY(0);
		}
	}
}

.xs-modal {
	z-index: 99999;
	.modal-content {
		background-color: $color-white;
		border-radius: 10px;
		box-shadow: 0px 6px 23px 0px rgba(135, 135, 135, 0.118);
		max-width: 100%;
		padding: 60px;
	}
	.modal-dialog {
		position: absolute;
		top: -100%;
		left: 0;
		transform: translate(-50%,-50%);
		transition: .55s;
		background-color: transparent;
		min-width: 570px;
		opacity: 0;
		margin: 0;
		z-index: 9999;
	}
	&.show {
		.modal-dialog {
			transform: translate(-50%, -50%);
			transition: top .53s ease-out, opacity .35s ease-out;
			transition-delay: .7s;
			opacity: 1;
			top: 50%;
			left: 50%;
		}
	}
	.fundpress-tab-nav-v5 {
		margin-bottom: 30px;
	}
}



@-webkit-keyframes menu-animation {
	0% {
		opacity: 0;
		transform: scale(0.04) translateY(300%);
	}
	40% {
		transform: scale(0.04) translateY(0);
		transition: ease-out;
	}
	40% {
		transform: scale(0.04) translateY(0);
	}
	60% {
		opacity: 1;
		transform: scale(0.02) translateY(0px);
	}
	61% {
		opacity: 1;
		transform: scale(0.04) translateY(0px);
	}
	99.9% {
		opacity: 1;
		height: 0;
		padding-bottom: 100%;
		border-radius: 100%;
	}
	100% {
		opacity: 1;
		transform: scale(2) translateY(0px);
		height: 100%;
		padding-bottom: 0;
		border-radius: 0;
	}
}


// bootstrap badge
.badge {
	&.badge-v1 {
		background-color: #006df3;
		color: $color-white;
		font-weight: 500;
		text-transform: uppercase;
		line-height: 1;
		display: inline-block;
		padding: 11px 27px;
		letter-spacing: .3px;
	}
	&.badge-v2 {
		background-color: $v2-color-blue;
		display: inline-block;
		color: $color-white;
		font-size: em(12px);
		font-weight: 600;
		padding: 8px 18px;
	}
	&.badge-sm {
		padding: 8px 24px;
		font-size: em(12px);
	}
}

// xs border button
.xs-border-btn {
	border: 1px solid;
}

// specific hover effect for buttons side by side product
.fundpress-product-hover-content {
	.xs-product-text-content {
		.xs-btn{
			&.green-btn {
				background-color: $color-green;
			}
		}
	}
}
// specific hover effect for buttons event wraper
.fundpress-single-event-wraper {
	.fundpress-btn-wraper {
		.xs-btn{
			&.green-btn {
				background-color: $color-green;
			}
		}	
	}
}

/* Waves */
.xs-shape-background {
	.xs-waves {
		width:100%;
		height:25vh;
		min-height:10em;
		overflow:hidden;
		transform: rotate(180deg);
		.xs-wave {
			width:calc( 100% + 4em );
			height:100%;
			position:absolute;
			left:-2em;
			background:bottom center repeat-x;
			animation-iteration-count:infinite;
			animation-timing-function:linear;
			&.xs-wave_1 {
				animation-name:xs_wave_1;
				animation-duration:3400ms;
				animation-delay:-1200ms;
				top:-1.0em;
				z-index:1;
				opacity:0.10;
				background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="246" height="2000" viewBox="0 0 246 2000"><path fill-rule="evenodd" clip-rule="evenodd" fill="%23012373" d="M0 2000c50.43 0 72.57-20.522 123-20.522 50.43 0 71.34 20.522 123 20.522V0H0v2000z"/></svg>'); 
				background-position:bottom left;
			}
			&.xs-wave_2 {
				animation-name:xs_wave_2;
				animation-duration:3200ms;
				animation-delay:-600ms;
				top:-2.0em;
				z-index:2;
				opacity:0.25;
				background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="307" height="2000" viewBox="0 0 307 2000"><path fill-rule="evenodd" clip-rule="evenodd" fill="%23012373" d="M0 0h307v2000c-64.47 0-90.563-25.623-153.5-25.623C90.565 1974.377 62.935 2000 0 2000V0z"/></svg>');
				background-position:bottom right;
			}
			&.xs-wave_3 {
				animation-name:xs_wave_3;
				animation-duration:2800ms;
				animation-delay:-2400ms;
				top:-3.0em;
				z-index:3;
				opacity:0.50;
				background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="384" height="2000" viewBox="0 0 384 2000"><path fill-rule="evenodd" clip-rule="evenodd" fill="%23012373" d="M0 0h384v2000c-80.64 0-113.28-32.047-192-32.047S78.72 2000 0 2000V0z"/></svg>');
				background-position:bottom center;
			}
			&.xs-wave_4 {
				animation-name:xs_wave_4;
				animation-duration:2600ms;
				animation-delay:-1800ms;
				top:-4.0em;
				z-index:4;
				opacity:0.75;
				background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="480" height="2000" viewBox="0 0 480 2000"><path fill-rule="evenodd" clip-rule="evenodd" fill="%23012373" d="M480 2000c-100.8 0-141.6-39.892-240-39.892S98.4 2000 0 2000V0h480v2000z"/></svg>');
				background-position:bottom left;
			}
			&.xs-wave_5 {
				animation-name:xs_wave_5;
				animation-duration:3000ms;
				animation-delay:-3000ms;
				top:-5.0em;
				z-index:5;
				opacity:0.90;
				background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="600" height="2000" viewBox="0 0 600 2000"><path fill-rule="evenodd" clip-rule="evenodd" fill="%23012373" d="M0 2000c123 0 177-49.866 300-49.866S474 2000 600 2000V0H0v2000z"/></svg>');
				background-position:bottom right;
			}
		}
	}
}

/* Wave animations */

@keyframes xs_wave_1 {
	from { transform: rotate(0deg)   translatey(-0.61em) rotate(0deg); }
	to   { transform: rotate(360deg) translatey(-0.61em) rotate(-360deg) ; }
}

@keyframes xs_wave_2 {
	from { transform: rotate(0deg)   translatey(-0.77em) rotate(0deg); }
	to   { transform: rotate(360deg) translatey(-0.77em) rotate(-360deg) ; }
}

@keyframes xs_wave_3 {
	from { transform: rotate(0deg)   translatey(-0.96em) rotate(0deg); }
	to   { transform: rotate(360deg) translatey(-0.96em) rotate(-360deg) ; }
}

@keyframes xs_wave_4 {
	from { transform: rotate(0deg)   translatey(-1.2em) rotate(0deg); }
	to   { transform: rotate(360deg) translatey(-1.2em) rotate(-360deg) ; }
}

@keyframes xs_wave_5 {
	from { transform: rotate(0deg)   translatey(-1.5em) rotate(0deg); }
	to   { transform: rotate(360deg) translatey(-1.5em) rotate(-360deg) ; }
}